<div class="wall-post-div">
  <div class="wallpost-sender-receiver">
    <%= link_to wall_post.sender.name, user_path(wall_post.sender), method: :get, id: wall_post.id %>
    posted on
    <%= link_to wall_post.user.name, user_path(wall_post.user), method: :get, id: wall_post.id %>'s wall
  </div>
  <p class='wall-post-message' id=<%=wall_post.id%>><%= wall_post.text%></p>
  <p class='wallpost-timestamp' id=<%=wall_post.id%>><%= wall_post.format_date %></p>
  <div class='wallpost-links'>
    <% if current_user == wall_post.sender %>
      <%= link_to 'Edit', edit_user_wall_post_path(wall_post.user, wall_post.id) %>
      <%= link_to 'Delete', user_wall_post_path(wall_post.user, wall_post.id), :data => {:confirm => "Are you sure?"}, :method => :delete %>
    <% end %>
  </div>
</div>
